ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #150300;
}
li {
  float: left;
}
li a{
  display:  inline-block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: black;
}
/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
.topnav a {
  float: none;
  width: 16%;
}