ul {
	list-style-type: none;
    position: fixed;
    top: 0px;
    width: 100px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #111
}
li {
	float: right;
    background-color: #000;
}
li a{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 10px 130px;
	text-decoration: none;
}
/* Navbar links */
.topnav a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
    .topnav a {
      float: none;
      width: 100%;
    }
section {
  padding-left: 250px;
  padding-right: 250px;
}
/* If the screen size is 480px wide or less, set the padding for <section> to 25px */
@media only screen and (max-width: 480px) {
  section {
    padding-left: 25px;
    padding-right: 25px;
  }
}
/*change the link color to #111 (black) on hover */
li a:hover {
	background-color: #000
}
section {
    text-transform: uppercase;
}
figure {
    position: absolute;
    right: 0px;
    width: auto;
    padding: 10px;
}
body {
    text-align: center;
}
footer {
    position: fixed;
    width: auto;
    bottom: 0px;
}
article {
    display: inline-block;
}
h3 {
    position: absolute;
background-color: #111;
color: white;
text-align: center;
padding: 14px 16px;
}
h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    font-style: italic;
    font-weight: normal;
    color: orange;
}
h1 {
    font-family: 'Arial', 'Helvetica', sans-serif
}
article {
    text-align: center;
    direction: rtl;
    unicode-bidi: bidi-override;
}
.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
    padding: 100px;
    display: inline-block;
    text-align: center;
  }