primary-font{
font-family: 'Dosis', sans-serif;
}
h2 {
    font-family: 'Marck Script', cursive;
    font: normal;
    color: #DB8D33;
    }
h1 {
    font-family: 'Montserrat', sans-serif;
    color: #575757;
}